{% for nms_entry in nms %}{# f-001: looping all NMS types #}
{% if nms_entry.type == 'snmp' %}{# i-001: checking that NMS type is SNMP #}
snmp-server engineID local {{ nms_entry.snmp.engineID }}
{% if nms_entry.snmp.version == 3 %}{# i-002: constructing commands for SNMPv3 #}
{% for snmp_view in nms_entry.snmp.view %}{# f-002: looping all sub-trees in SNMP #}
snmp-server view SPF_VIEW {{ snmp_view }} included
{% endfor %}{# f-002: looping all sub-trees in SNMP #}
snmp-server group SPF_GROUP v3 priv notify SPF_VIEW read SPF_VIEW
snmp-server user {{ snmp_credentials.username }} SPF_GROUP v3 auth {{ nms_entry.snmp.security.auth }} {{ snmp_credentials.auth.pass }} priv {% if nms_entry.snmp.security.priv == 'aes' %}aes 128{% endif %} {{ snmp_credentials.priv.pass }}
{% endif %}{# i-002: constructing commands for SNMPv3 #}
{% endif %}{# i-001: checking that NMS type is SNMP #}
{% endfor %}{# f-001: looping all NMS types #}
