{% for customer_site in l3vpn_svc.sites.site %}{# f-001: looping all customer sites in service request #}
{% for cpe_pop_site in cpe_to_location %}{# f-004: looping all SP sites with PEs #}
{% for customer_device in customer_site.devices.device %}{# f-002: looping all customer devices on site #}
{% if customer_device.device_id == cpe_pop_site.cpe_id %}{# i-001: matching CPE from ietf l3vpn svc service request and customer db #}
{% for customer_connection in customer_site.site_network_accesses.site_network_access %}{# f-003: looping all customer connections on site #}
{% if cpe_pop_site.location_id == customer_connection.location_reference %}{# i-004: matching locations #}
add vrf {{ customer_device.location }}

add vlan {{ customer_connection.bearer.requested_type.dot1q_vlan }} vrf {{ customer_device.location }}
{% if customer_connection.ip_connection.ipv4 is defined %}{# i-002: configuring IPv4 address #}
add vlan {{ customer_connection.bearer.requested_type.dot1q_vlan }} ip address {{ customer_connection.ip_connection.ipv4.addresses.customer_address }}/{{ customer_connection.ip_connection.ipv4.addresses.prefix_length }}
{% endif %}{# i-002: configuring IPv4 address #}
{% if customer_connection.ip_connection.ipv6 is defined %}{# i-003: configuring IPv6 address #}
add vlan {{ customer_connection.bearer.requested_type.dot1q_vlan }} ipv6 address {{ customer_connection.ip_connection.ipv6.addresses.customer_address }}/{{ customer_connection.ip_connection.ipv6.addresses.prefix_length }}
{% endif %}{# i-003: configuring IPv6 address #}

add interface {{ cpe_pop_site.uni_port }} bridge vids {{ customer_connection.bearer.requested_type.dot1q_vlan }}

{% endif %}{# i-004: matching locations #}
{% endfor %}{# f-003: looping all customer connections on site #}
{% endif %}{# i-001: matching CPE from ietf l3vpn svc service request and customer db #}
{% endfor %}{# f-002: looping all customer devices on site #}
{% endfor %}{# f-004: looping all SP sites with PEs #}
{% endfor %}{# f-001: looping all customer sites in service request #}

{% if customer_emulation is defined %}{# i-004: checking customer subnets #}
{% for nlri in customer_emulation %}{# f-005: looping all customer emulations #}
add vlan {{ starting_vlan + loop.index }} vrf {{ nlri.vrf }}
add vlan {{ loop.index + starting_vlan }} {% if nlri.afi == 'ipv4' %}ip{% elif nlri.afi == 'ipv6' %}ipv6{% endif %} address {{ nlri.address }}/{{ nlri.prefix }}
{% endfor %}{# f-005: looping all customer emulations #}
{% endif %}{# i-004: checking customer subnets #}

