{
    "openconfig-routing-policy:routing-policy": {
        "policy-definitions": {
            "policy-definition": [
                {
                    "name": "RP_PASS_ALL",
                    "config": {
                        "name": "RP_PASS_ALL"
                    },
                    "statements": {
                        "statement": [
                            {
                                "name": "statement-10",
                                "config": { 
                                    "name": "statement-10"
                                },
                                "actions": {
                                    "config": {
                                       "accept-route": [null]
                                    }
                                }
                            }
                        ]
                    }
                }
            ]
        }
    }
}
