    /configure card 1 admin-state enable
    /configure card 1 card-type iom-1
    /configure card 1 mda 1 admin-state enable
    /configure card 1 mda 1 mda-type me6-100gb-qsfp28
    /configure port 1/1/c1 admin-state enable
    /configure port 1/1/c1 connector breakout c4-10g
    /configure port 1/1/c1/1 admin-state enable
    /configure port 1/1/c1/1 ethernet mode network
    /configure port 1/1/c1/1 ethernet encap-type dot1q
    /configure port 1/1/c1/1 ethernet single-fiber true
    /configure port 1/1/c2 admin-state enable
    /configure port 1/1/c2 connector breakout c4-10g
    /configure port 1/1/c2/1 admin-state enable
    /configure port 1/1/c2/1 ethernet mode access
    /configure port 1/1/c2/1 ethernet encap-type dot1q
    /configure router "Base" autonomous-system 65000
    /configure router "Base" router-id 10.0.0.44
    /configure router "Base" interface "system" ipv4 primary address 10.0.0.44
    /configure router "Base" interface "system" ipv4 primary prefix-length 32
    /configure router "Base" interface "toEOS2" port 1/1/c1/1:0
    /configure router "Base" interface "toEOS2" ipv4 primary address 10.1.44.44
    /configure router "Base" interface "toEOS2" ipv4 primary prefix-length 24
    /configure router "Base" mpls-labels sr-labels start 500000
    /configure router "Base" mpls-labels sr-labels end 523456
    /configure router "Base" bgp next-hop-resolution labeled-routes transport-tunnel family vpn resolution filter
    /configure router "Base" bgp next-hop-resolution labeled-routes transport-tunnel family vpn resolution-filter sr-isis true
    /configure router "Base" bgp group "iBGP_PEERS" peer-as 65000
    /configure router "Base" bgp group "iBGP_PEERS" local-address "10.0.0.44"
    /configure router "Base" bgp group "iBGP_PEERS" family evpn true
    /configure router "Base" bgp neighbor "10.0.0.22" group "iBGP_PEERS"
    /configure router "Base" bgp neighbor "10.0.0.33" group "iBGP_PEERS"
    /configure router "Base" isis 0 admin-state enable
    /configure router "Base" isis 0 advertise-passive-only true
    /configure router "Base" isis 0 advertise-router-capability as
    /configure router "Base" isis 0 level-capability 2
    /configure router "Base" isis 0 area-address [49.0000]
    /configure router "Base" isis 0 segment-routing admin-state enable
    /configure router "Base" isis 0 segment-routing tunnel-table-pref 8
    /configure router "Base" isis 0 segment-routing prefix-sid-range global
    /configure router "Base" isis 0 interface "system" passive true
    /configure router "Base" isis 0 interface "system" ipv4-node-sid index 44
    /configure router "Base" isis 0 interface "toEOS2" interface-type point-to-point
    /configure router "Base" isis 0 level 2 wide-metrics-only true
